body {
  margin:0px;
  background-color:rgba(199, 237, 204, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1577px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1209_img {
  position:absolute;
  left:0px;
  top:0px;
  width:618px;
  height:759px;
}
#u1209 {
  position:absolute;
  left:0px;
  top:0px;
  width:618px;
  height:759px;
}
#u1210 {
  position:absolute;
  left:2px;
  top:372px;
  width:614px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1211_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:28px;
  background:inherit;
  background-color:rgba(45, 183, 245, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(45, 183, 245, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u1211 {
  position:absolute;
  left:48px;
  top:130px;
  width:60px;
  height:28px;
  font-family:'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u1212 {
  position:absolute;
  left:16px;
  top:6px;
  width:28px;
  word-wrap:break-word;
}
#u1213_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u1213 {
  position:absolute;
  left:292px;
  top:130px;
  width:60px;
  height:28px;
  font-family:'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u1214 {
  position:absolute;
  left:16px;
  top:6px;
  width:28px;
  word-wrap:break-word;
}
#u1215_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:28px;
  background:inherit;
  background-color:rgba(45, 183, 245, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(45, 183, 245, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u1215 {
  position:absolute;
  left:116px;
  top:130px;
  width:80px;
  height:28px;
  font-family:'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u1216 {
  position:absolute;
  left:16px;
  top:6px;
  width:48px;
  word-wrap:break-word;
}
#u1217_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u1217 {
  position:absolute;
  left:204px;
  top:130px;
  width:80px;
  height:28px;
  font-family:'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u1218 {
  position:absolute;
  left:16px;
  top:6px;
  width:48px;
  word-wrap:break-word;
}
#u1219 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1220 {
  position:absolute;
  left:630px;
  top:79px;
  width:952px;
  height:215px;
}
#u1221_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:50px;
}
#u1221 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:50px;
  font-family:'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  line-height:18px;
}
#u1222 {
  position:absolute;
  left:46px;
  top:17px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1223_img {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:50px;
}
#u1223 {
  position:absolute;
  left:66px;
  top:0px;
  width:280px;
  height:50px;
  font-family:'Microsoft Tai Le Bold', 'Microsoft Tai Le';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
  line-height:18px;
}
#u1224 {
  position:absolute;
  left:16px;
  top:16px;
  width:248px;
  word-wrap:break-word;
}
#u1225_img {
  position:absolute;
  left:0px;
  top:0px;
  width:309px;
  height:50px;
}
#u1225 {
  position:absolute;
  left:346px;
  top:0px;
  width:309px;
  height:50px;
  font-family:'Microsoft Tai Le Bold', 'Microsoft Tai Le';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
  line-height:18px;
}
#u1226 {
  position:absolute;
  left:16px;
  top:16px;
  width:277px;
  word-wrap:break-word;
}
#u1227_img {
  position:absolute;
  left:0px;
  top:0px;
  width:292px;
  height:50px;
}
#u1227 {
  position:absolute;
  left:655px;
  top:0px;
  width:292px;
  height:50px;
  font-family:'Microsoft Tai Le Bold', 'Microsoft Tai Le';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
  line-height:18px;
}
#u1228 {
  position:absolute;
  left:16px;
  top:16px;
  width:260px;
  word-wrap:break-word;
}
#u1229_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:40px;
}
#u1229 {
  position:absolute;
  left:0px;
  top:50px;
  width:66px;
  height:40px;
  font-family:'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  line-height:18px;
}
#u1230 {
  position:absolute;
  left:46px;
  top:12px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1231_img {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:40px;
}
#u1231 {
  position:absolute;
  left:66px;
  top:50px;
  width:280px;
  height:40px;
  font-family:'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
  line-height:18px;
}
#u1232 {
  position:absolute;
  left:16px;
  top:11px;
  width:248px;
  word-wrap:break-word;
}
#u1233_img {
  position:absolute;
  left:0px;
  top:0px;
  width:309px;
  height:40px;
}
#u1233 {
  position:absolute;
  left:346px;
  top:50px;
  width:309px;
  height:40px;
  font-family:'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
  line-height:18px;
}
#u1234 {
  position:absolute;
  left:16px;
  top:11px;
  width:277px;
  word-wrap:break-word;
}
#u1235_img {
  position:absolute;
  left:0px;
  top:0px;
  width:292px;
  height:40px;
}
#u1235 {
  position:absolute;
  left:655px;
  top:50px;
  width:292px;
  height:40px;
  font-family:'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
  line-height:18px;
}
#u1236 {
  position:absolute;
  left:16px;
  top:11px;
  width:260px;
  word-wrap:break-word;
}
#u1237_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:40px;
}
#u1237 {
  position:absolute;
  left:0px;
  top:90px;
  width:66px;
  height:40px;
  font-family:'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  line-height:18px;
}
#u1238 {
  position:absolute;
  left:46px;
  top:12px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1239_img {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:40px;
}
#u1239 {
  position:absolute;
  left:66px;
  top:90px;
  width:280px;
  height:40px;
  font-family:'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
  line-height:18px;
}
#u1240 {
  position:absolute;
  left:16px;
  top:11px;
  width:248px;
  word-wrap:break-word;
}
#u1241_img {
  position:absolute;
  left:0px;
  top:0px;
  width:309px;
  height:40px;
}
#u1241 {
  position:absolute;
  left:346px;
  top:90px;
  width:309px;
  height:40px;
  font-family:'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
  line-height:18px;
}
#u1242 {
  position:absolute;
  left:16px;
  top:11px;
  width:277px;
  word-wrap:break-word;
}
#u1243_img {
  position:absolute;
  left:0px;
  top:0px;
  width:292px;
  height:40px;
}
#u1243 {
  position:absolute;
  left:655px;
  top:90px;
  width:292px;
  height:40px;
  font-family:'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
  line-height:18px;
}
#u1244 {
  position:absolute;
  left:16px;
  top:11px;
  width:260px;
  word-wrap:break-word;
}
#u1245_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:40px;
}
#u1245 {
  position:absolute;
  left:0px;
  top:130px;
  width:66px;
  height:40px;
  font-family:'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  line-height:18px;
}
#u1246 {
  position:absolute;
  left:60px;
  top:12px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1247_img {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:40px;
}
#u1247 {
  position:absolute;
  left:66px;
  top:130px;
  width:280px;
  height:40px;
  font-family:'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
  line-height:18px;
}
#u1248 {
  position:absolute;
  left:16px;
  top:12px;
  width:248px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1249_img {
  position:absolute;
  left:0px;
  top:0px;
  width:309px;
  height:40px;
}
#u1249 {
  position:absolute;
  left:346px;
  top:130px;
  width:309px;
  height:40px;
  font-family:'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
  line-height:18px;
}
#u1250 {
  position:absolute;
  left:16px;
  top:12px;
  width:277px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1251_img {
  position:absolute;
  left:0px;
  top:0px;
  width:292px;
  height:40px;
}
#u1251 {
  position:absolute;
  left:655px;
  top:130px;
  width:292px;
  height:40px;
  font-family:'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
  line-height:18px;
}
#u1252 {
  position:absolute;
  left:16px;
  top:12px;
  width:260px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1253_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:40px;
}
#u1253 {
  position:absolute;
  left:0px;
  top:170px;
  width:66px;
  height:40px;
  font-family:'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  line-height:18px;
}
#u1254 {
  position:absolute;
  left:60px;
  top:12px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1255_img {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:40px;
}
#u1255 {
  position:absolute;
  left:66px;
  top:170px;
  width:280px;
  height:40px;
  font-family:'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
  line-height:18px;
}
#u1256 {
  position:absolute;
  left:16px;
  top:12px;
  width:248px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1257_img {
  position:absolute;
  left:0px;
  top:0px;
  width:309px;
  height:40px;
}
#u1257 {
  position:absolute;
  left:346px;
  top:170px;
  width:309px;
  height:40px;
  font-family:'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
  line-height:18px;
}
#u1258 {
  position:absolute;
  left:16px;
  top:12px;
  width:277px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1259_img {
  position:absolute;
  left:0px;
  top:0px;
  width:292px;
  height:40px;
}
#u1259 {
  position:absolute;
  left:655px;
  top:170px;
  width:292px;
  height:40px;
  font-family:'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
  line-height:18px;
}
#u1260 {
  position:absolute;
  left:16px;
  top:12px;
  width:260px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1261_div {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  line-height:18px;
}
#u1261 {
  position:absolute;
  left:655px;
  top:97px;
  width:14px;
  height:14px;
  font-family:'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  line-height:18px;
}
#u1262 {
  position:absolute;
  left:2px;
  top:-1px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1263_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:8px;
}
#u1263 {
  position:absolute;
  left:741px;
  top:100px;
  width:8px;
  height:8px;
  font-family:'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  line-height:18px;
}
#u1264 {
  position:absolute;
  left:2px;
  top:-4px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1265_img {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:10px;
}
#u1265 {
  position:absolute;
  left:1023px;
  top:98px;
  width:7px;
  height:10px;
  font-family:'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  line-height:18px;
}
#u1266 {
  position:absolute;
  left:2px;
  top:-3px;
  width:3px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1267_div {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  line-height:18px;
}
#u1267 {
  position:absolute;
  left:655px;
  top:142px;
  width:14px;
  height:14px;
  font-family:'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  line-height:18px;
}
#u1268 {
  position:absolute;
  left:2px;
  top:-1px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1269_div {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  line-height:18px;
}
#u1269 {
  position:absolute;
  left:655px;
  top:182px;
  width:14px;
  height:14px;
  font-family:'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  line-height:18px;
}
#u1270 {
  position:absolute;
  left:2px;
  top:-1px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1271 {
  position:absolute;
  left:630px;
  top:612px;
  width:715px;
  height:139px;
}
#u1272_img {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:40px;
}
#u1272 {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:40px;
  font-family:'Microsoft Tai Le Bold', 'Microsoft Tai Le';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
  line-height:18px;
}
#u1273 {
  position:absolute;
  left:16px;
  top:11px;
  width:116px;
  word-wrap:break-word;
}
#u1274_img {
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:40px;
}
#u1274 {
  position:absolute;
  left:148px;
  top:0px;
  width:208px;
  height:40px;
  font-family:'Microsoft Tai Le Bold', 'Microsoft Tai Le';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
  line-height:18px;
}
#u1275 {
  position:absolute;
  left:16px;
  top:11px;
  width:176px;
  word-wrap:break-word;
}
#u1276_img {
  position:absolute;
  left:0px;
  top:0px;
  width:354px;
  height:40px;
}
#u1276 {
  position:absolute;
  left:356px;
  top:0px;
  width:354px;
  height:40px;
  font-family:'Microsoft Tai Le Bold', 'Microsoft Tai Le';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
  line-height:18px;
}
#u1277 {
  position:absolute;
  left:16px;
  top:11px;
  width:322px;
  word-wrap:break-word;
}
#u1278_img {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:32px;
}
#u1278 {
  position:absolute;
  left:0px;
  top:40px;
  width:148px;
  height:32px;
  font-family:'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
  line-height:18px;
}
#u1279 {
  position:absolute;
  left:16px;
  top:7px;
  width:116px;
  word-wrap:break-word;
}
#u1280_img {
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:32px;
}
#u1280 {
  position:absolute;
  left:148px;
  top:40px;
  width:208px;
  height:32px;
  font-family:'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
  line-height:18px;
}
#u1281 {
  position:absolute;
  left:16px;
  top:7px;
  width:176px;
  word-wrap:break-word;
}
#u1282_img {
  position:absolute;
  left:0px;
  top:0px;
  width:354px;
  height:32px;
}
#u1282 {
  position:absolute;
  left:356px;
  top:40px;
  width:354px;
  height:32px;
  font-family:'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
  line-height:18px;
}
#u1283 {
  position:absolute;
  left:16px;
  top:7px;
  width:322px;
  word-wrap:break-word;
}
#u1284_img {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:32px;
}
#u1284 {
  position:absolute;
  left:0px;
  top:72px;
  width:148px;
  height:32px;
  font-family:'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
  line-height:18px;
}
#u1285 {
  position:absolute;
  left:16px;
  top:7px;
  width:116px;
  word-wrap:break-word;
}
#u1286_img {
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:32px;
}
#u1286 {
  position:absolute;
  left:148px;
  top:72px;
  width:208px;
  height:32px;
  font-family:'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
  line-height:18px;
}
#u1287 {
  position:absolute;
  left:16px;
  top:7px;
  width:176px;
  word-wrap:break-word;
}
#u1288_img {
  position:absolute;
  left:0px;
  top:0px;
  width:354px;
  height:32px;
}
#u1288 {
  position:absolute;
  left:356px;
  top:72px;
  width:354px;
  height:32px;
  font-family:'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
  line-height:18px;
}
#u1289 {
  position:absolute;
  left:16px;
  top:7px;
  width:322px;
  word-wrap:break-word;
}
#u1290_img {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:30px;
}
#u1290 {
  position:absolute;
  left:0px;
  top:104px;
  width:148px;
  height:30px;
  font-family:'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
  line-height:18px;
}
#u1291 {
  position:absolute;
  left:16px;
  top:7px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1292_img {
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:30px;
}
#u1292 {
  position:absolute;
  left:148px;
  top:104px;
  width:208px;
  height:30px;
  font-family:'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
  line-height:18px;
}
#u1293 {
  position:absolute;
  left:16px;
  top:7px;
  width:176px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1294_img {
  position:absolute;
  left:0px;
  top:0px;
  width:354px;
  height:30px;
}
#u1294 {
  position:absolute;
  left:356px;
  top:104px;
  width:354px;
  height:30px;
  font-family:'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
  line-height:18px;
}
#u1295 {
  position:absolute;
  left:16px;
  top:7px;
  width:322px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1296 {
  position:absolute;
  left:630px;
  top:341px;
  width:715px;
  height:211px;
}
#u1297_img {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:50px;
}
#u1297 {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:50px;
  font-family:'Microsoft Tai Le Bold', 'Microsoft Tai Le';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
  line-height:18px;
}
#u1298 {
  position:absolute;
  left:16px;
  top:16px;
  width:116px;
  word-wrap:break-word;
}
#u1299_img {
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:50px;
}
#u1299 {
  position:absolute;
  left:148px;
  top:0px;
  width:208px;
  height:50px;
  font-family:'Microsoft Tai Le Bold', 'Microsoft Tai Le';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
  line-height:18px;
}
#u1300 {
  position:absolute;
  left:16px;
  top:16px;
  width:176px;
  word-wrap:break-word;
}
#u1301_img {
  position:absolute;
  left:0px;
  top:0px;
  width:354px;
  height:50px;
}
#u1301 {
  position:absolute;
  left:356px;
  top:0px;
  width:354px;
  height:50px;
  font-family:'Microsoft Tai Le Bold', 'Microsoft Tai Le';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
  line-height:18px;
}
#u1302 {
  position:absolute;
  left:16px;
  top:16px;
  width:322px;
  word-wrap:break-word;
}
#u1303_img {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:40px;
}
#u1303 {
  position:absolute;
  left:0px;
  top:50px;
  width:148px;
  height:40px;
  font-family:'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
  line-height:18px;
}
#u1304 {
  position:absolute;
  left:16px;
  top:11px;
  width:116px;
  word-wrap:break-word;
}
#u1305_img {
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:40px;
}
#u1305 {
  position:absolute;
  left:148px;
  top:50px;
  width:208px;
  height:40px;
  font-family:'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
  line-height:18px;
}
#u1306 {
  position:absolute;
  left:16px;
  top:11px;
  width:176px;
  word-wrap:break-word;
}
#u1307_img {
  position:absolute;
  left:0px;
  top:0px;
  width:354px;
  height:40px;
}
#u1307 {
  position:absolute;
  left:356px;
  top:50px;
  width:354px;
  height:40px;
  font-family:'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
  line-height:18px;
}
#u1308 {
  position:absolute;
  left:16px;
  top:11px;
  width:322px;
  word-wrap:break-word;
}
#u1309_img {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:40px;
}
#u1309 {
  position:absolute;
  left:0px;
  top:90px;
  width:148px;
  height:40px;
  font-family:'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
  line-height:18px;
}
#u1310 {
  position:absolute;
  left:16px;
  top:11px;
  width:116px;
  word-wrap:break-word;
}
#u1311_img {
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:40px;
}
#u1311 {
  position:absolute;
  left:148px;
  top:90px;
  width:208px;
  height:40px;
  font-family:'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
  line-height:18px;
}
#u1312 {
  position:absolute;
  left:16px;
  top:11px;
  width:176px;
  word-wrap:break-word;
}
#u1313_img {
  position:absolute;
  left:0px;
  top:0px;
  width:354px;
  height:40px;
}
#u1313 {
  position:absolute;
  left:356px;
  top:90px;
  width:354px;
  height:40px;
  font-family:'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
  line-height:18px;
}
#u1314 {
  position:absolute;
  left:16px;
  top:11px;
  width:322px;
  word-wrap:break-word;
}
#u1315_img {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:38px;
}
#u1315 {
  position:absolute;
  left:0px;
  top:130px;
  width:148px;
  height:38px;
  font-family:'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
  line-height:18px;
}
#u1316 {
  position:absolute;
  left:16px;
  top:11px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1317_img {
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:38px;
}
#u1317 {
  position:absolute;
  left:148px;
  top:130px;
  width:208px;
  height:38px;
  font-family:'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
  line-height:18px;
}
#u1318 {
  position:absolute;
  left:16px;
  top:11px;
  width:176px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1319_img {
  position:absolute;
  left:0px;
  top:0px;
  width:354px;
  height:38px;
}
#u1319 {
  position:absolute;
  left:356px;
  top:130px;
  width:354px;
  height:38px;
  font-family:'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
  line-height:18px;
}
#u1320 {
  position:absolute;
  left:16px;
  top:11px;
  width:322px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1321_img {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:38px;
}
#u1321 {
  position:absolute;
  left:0px;
  top:168px;
  width:148px;
  height:38px;
  font-family:'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
  line-height:18px;
}
#u1322 {
  position:absolute;
  left:16px;
  top:11px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1323_img {
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:38px;
}
#u1323 {
  position:absolute;
  left:148px;
  top:168px;
  width:208px;
  height:38px;
  font-family:'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
  line-height:18px;
}
#u1324 {
  position:absolute;
  left:16px;
  top:11px;
  width:176px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1325_img {
  position:absolute;
  left:0px;
  top:0px;
  width:354px;
  height:38px;
}
#u1325 {
  position:absolute;
  left:356px;
  top:168px;
  width:354px;
  height:38px;
  font-family:'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
  line-height:18px;
}
#u1326 {
  position:absolute;
  left:16px;
  top:11px;
  width:322px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1327 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1328 {
  position:absolute;
  left:630px;
  top:804px;
  width:952px;
  height:295px;
}
#u1329_img {
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  height:50px;
}
#u1329 {
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  height:50px;
  font-family:'Microsoft Tai Le Bold', 'Microsoft Tai Le';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
  line-height:18px;
}
#u1330 {
  position:absolute;
  left:46px;
  top:16px;
  width:187px;
  word-wrap:break-word;
}
#u1331_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:50px;
}
#u1331 {
  position:absolute;
  left:249px;
  top:0px;
  width:169px;
  height:50px;
  font-family:'Microsoft Tai Le Bold', 'Microsoft Tai Le';
  font-weight:700;
  font-style:normal;
  color:#666666;
  text-align:left;
  line-height:18px;
}
#u1332 {
  position:absolute;
  left:16px;
  top:16px;
  width:137px;
  word-wrap:break-word;
}
#u1333_img {
  position:absolute;
  left:0px;
  top:0px;
  width:293px;
  height:50px;
}
#u1333 {
  position:absolute;
  left:418px;
  top:0px;
  width:293px;
  height:50px;
  font-family:'Microsoft Tai Le Bold', 'Microsoft Tai Le';
  font-weight:700;
  font-style:normal;
  color:#666666;
  text-align:left;
  line-height:18px;
}
#u1334 {
  position:absolute;
  left:16px;
  top:16px;
  width:261px;
  word-wrap:break-word;
}
#u1335_img {
  position:absolute;
  left:0px;
  top:0px;
  width:236px;
  height:50px;
}
#u1335 {
  position:absolute;
  left:711px;
  top:0px;
  width:236px;
  height:50px;
  font-family:'Microsoft Tai Le Bold', 'Microsoft Tai Le';
  font-weight:700;
  font-style:normal;
  color:#666666;
  text-align:left;
  line-height:18px;
}
#u1336 {
  position:absolute;
  left:16px;
  top:16px;
  width:204px;
  word-wrap:break-word;
}
#u1337_img {
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  height:40px;
}
#u1337 {
  position:absolute;
  left:0px;
  top:50px;
  width:249px;
  height:40px;
  font-family:'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
  line-height:18px;
}
#u1338 {
  position:absolute;
  left:46px;
  top:11px;
  width:187px;
  word-wrap:break-word;
}
#u1339_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:40px;
}
#u1339 {
  position:absolute;
  left:249px;
  top:50px;
  width:169px;
  height:40px;
  font-family:'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
  line-height:18px;
}
#u1340 {
  position:absolute;
  left:16px;
  top:11px;
  width:137px;
  word-wrap:break-word;
}
#u1341_img {
  position:absolute;
  left:0px;
  top:0px;
  width:293px;
  height:40px;
}
#u1341 {
  position:absolute;
  left:418px;
  top:50px;
  width:293px;
  height:40px;
  font-family:'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
  line-height:18px;
}
#u1342 {
  position:absolute;
  left:16px;
  top:11px;
  width:261px;
  word-wrap:break-word;
}
#u1343_img {
  position:absolute;
  left:0px;
  top:0px;
  width:236px;
  height:40px;
}
#u1343 {
  position:absolute;
  left:711px;
  top:50px;
  width:236px;
  height:40px;
  font-family:'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#2DB7F5;
  text-align:left;
  line-height:18px;
}
#u1344 {
  position:absolute;
  left:16px;
  top:11px;
  width:204px;
  word-wrap:break-word;
}
#u1345_img {
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  height:40px;
}
#u1345 {
  position:absolute;
  left:0px;
  top:90px;
  width:249px;
  height:40px;
  font-family:'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
  line-height:18px;
}
#u1346 {
  position:absolute;
  left:46px;
  top:11px;
  width:187px;
  word-wrap:break-word;
}
#u1347_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:40px;
}
#u1347 {
  position:absolute;
  left:249px;
  top:90px;
  width:169px;
  height:40px;
  font-family:'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
  line-height:18px;
}
#u1348 {
  position:absolute;
  left:16px;
  top:11px;
  width:137px;
  word-wrap:break-word;
}
#u1349_img {
  position:absolute;
  left:0px;
  top:0px;
  width:293px;
  height:40px;
}
#u1349 {
  position:absolute;
  left:418px;
  top:90px;
  width:293px;
  height:40px;
  font-family:'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
  line-height:18px;
}
#u1350 {
  position:absolute;
  left:16px;
  top:11px;
  width:261px;
  word-wrap:break-word;
}
#u1351_img {
  position:absolute;
  left:0px;
  top:0px;
  width:236px;
  height:40px;
}
#u1351 {
  position:absolute;
  left:711px;
  top:90px;
  width:236px;
  height:40px;
  font-family:'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#2DB7F5;
  text-align:left;
  line-height:18px;
}
#u1352 {
  position:absolute;
  left:16px;
  top:11px;
  width:204px;
  word-wrap:break-word;
}
#u1353_img {
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  height:40px;
}
#u1353 {
  position:absolute;
  left:0px;
  top:130px;
  width:249px;
  height:40px;
  font-family:'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
  line-height:18px;
}
#u1354 {
  position:absolute;
  left:60px;
  top:12px;
  width:187px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1355_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:40px;
}
#u1355 {
  position:absolute;
  left:249px;
  top:130px;
  width:169px;
  height:40px;
  font-family:'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
  line-height:18px;
}
#u1356 {
  position:absolute;
  left:16px;
  top:12px;
  width:151px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1357_img {
  position:absolute;
  left:0px;
  top:0px;
  width:293px;
  height:40px;
}
#u1357 {
  position:absolute;
  left:418px;
  top:130px;
  width:293px;
  height:40px;
  font-family:'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
  line-height:18px;
}
#u1358 {
  position:absolute;
  left:16px;
  top:12px;
  width:275px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1359_img {
  position:absolute;
  left:0px;
  top:0px;
  width:236px;
  height:40px;
}
#u1359 {
  position:absolute;
  left:711px;
  top:130px;
  width:236px;
  height:40px;
  font-family:'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
  line-height:18px;
}
#u1360 {
  position:absolute;
  left:16px;
  top:12px;
  width:218px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1361_img {
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  height:40px;
}
#u1361 {
  position:absolute;
  left:0px;
  top:170px;
  width:249px;
  height:40px;
  font-family:'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
  line-height:18px;
}
#u1362 {
  position:absolute;
  left:46px;
  top:11px;
  width:187px;
  word-wrap:break-word;
}
#u1363_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:40px;
}
#u1363 {
  position:absolute;
  left:249px;
  top:170px;
  width:169px;
  height:40px;
  font-family:'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
  line-height:18px;
}
#u1364 {
  position:absolute;
  left:16px;
  top:11px;
  width:137px;
  word-wrap:break-word;
}
#u1365_img {
  position:absolute;
  left:0px;
  top:0px;
  width:293px;
  height:40px;
}
#u1365 {
  position:absolute;
  left:418px;
  top:170px;
  width:293px;
  height:40px;
  font-family:'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
  line-height:18px;
}
#u1366 {
  position:absolute;
  left:16px;
  top:11px;
  width:261px;
  word-wrap:break-word;
}
#u1367_img {
  position:absolute;
  left:0px;
  top:0px;
  width:236px;
  height:40px;
}
#u1367 {
  position:absolute;
  left:711px;
  top:170px;
  width:236px;
  height:40px;
  font-family:'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#2DB7F5;
  text-align:left;
  line-height:18px;
}
#u1368 {
  position:absolute;
  left:16px;
  top:11px;
  width:204px;
  word-wrap:break-word;
}
#u1369_img {
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  height:40px;
}
#u1369 {
  position:absolute;
  left:0px;
  top:210px;
  width:249px;
  height:40px;
  font-family:'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
  line-height:18px;
}
#u1370 {
  position:absolute;
  left:46px;
  top:12px;
  width:187px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1371_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:40px;
}
#u1371 {
  position:absolute;
  left:249px;
  top:210px;
  width:169px;
  height:40px;
  font-family:'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
  line-height:18px;
}
#u1372 {
  position:absolute;
  left:16px;
  top:12px;
  width:137px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1373_img {
  position:absolute;
  left:0px;
  top:0px;
  width:293px;
  height:40px;
}
#u1373 {
  position:absolute;
  left:418px;
  top:210px;
  width:293px;
  height:40px;
  font-family:'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
  line-height:18px;
}
#u1374 {
  position:absolute;
  left:16px;
  top:12px;
  width:261px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1375_img {
  position:absolute;
  left:0px;
  top:0px;
  width:236px;
  height:40px;
}
#u1375 {
  position:absolute;
  left:711px;
  top:210px;
  width:236px;
  height:40px;
  font-family:'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#2DB7F5;
  text-align:left;
  line-height:18px;
}
#u1376 {
  position:absolute;
  left:16px;
  top:12px;
  width:204px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1377_img {
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  height:40px;
}
#u1377 {
  position:absolute;
  left:0px;
  top:250px;
  width:249px;
  height:40px;
  font-family:'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
  line-height:18px;
}
#u1378 {
  position:absolute;
  left:46px;
  top:12px;
  width:187px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1379_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:40px;
}
#u1379 {
  position:absolute;
  left:249px;
  top:250px;
  width:169px;
  height:40px;
  font-family:'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
  line-height:18px;
}
#u1380 {
  position:absolute;
  left:16px;
  top:12px;
  width:137px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1381_img {
  position:absolute;
  left:0px;
  top:0px;
  width:293px;
  height:40px;
}
#u1381 {
  position:absolute;
  left:418px;
  top:250px;
  width:293px;
  height:40px;
  font-family:'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
  line-height:18px;
}
#u1382 {
  position:absolute;
  left:16px;
  top:12px;
  width:261px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1383_img {
  position:absolute;
  left:0px;
  top:0px;
  width:236px;
  height:40px;
}
#u1383 {
  position:absolute;
  left:711px;
  top:250px;
  width:236px;
  height:40px;
  font-family:'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#2DB7F5;
  text-align:left;
  line-height:18px;
}
#u1384 {
  position:absolute;
  left:16px;
  top:12px;
  width:204px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1385_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:8px;
}
#u1385 {
  position:absolute;
  left:710px;
  top:825px;
  width:8px;
  height:8px;
  font-family:'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  line-height:18px;
}
#u1386 {
  position:absolute;
  left:2px;
  top:-4px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1387_img {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:10px;
}
#u1387 {
  position:absolute;
  left:926px;
  top:823px;
  width:7px;
  height:10px;
  font-family:'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  line-height:18px;
}
#u1388 {
  position:absolute;
  left:2px;
  top:-3px;
  width:3px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1389_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:10px;
}
#u1389 {
  position:absolute;
  left:649px;
  top:909px;
  width:9px;
  height:10px;
  font-family:'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  line-height:18px;
}
#u1390 {
  position:absolute;
  left:2px;
  top:-3px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1391_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u1391 {
  position:absolute;
  left:648px;
  top:869px;
  width:10px;
  height:10px;
  font-family:'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  line-height:18px;
}
#u1392 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1393_div {
  position:absolute;
  left:0px;
  top:0px;
  width:943px;
  height:40px;
  background:inherit;
  background-color:rgba(251, 251, 251, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  line-height:18px;
}
#u1393 {
  position:absolute;
  left:631px;
  top:934px;
  width:943px;
  height:40px;
  font-family:'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  line-height:18px;
}
#u1394 {
  position:absolute;
  left:46px;
  top:11px;
  width:881px;
  word-wrap:break-word;
}
#u1395_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u1395 {
  position:absolute;
  left:648px;
  top:989px;
  width:10px;
  height:10px;
  font-family:'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  line-height:18px;
}
#u1396 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
